/*
Good resource to chose colors:

    https://clrs.cc/

Here are some color templates from that site:

    Navy: #001f3f
    Blue: #0074d9
    Aqua: #7fdbff
    Teal: #39cccc
    Olive: #3d9970
    Green: #2ecc40
    Lime: #01ff70
    Yellow: #ffdc00
    Orange: #ff851b
    Red: #ff4136
    Maroon: #85144b
    Fuchsia: #f012be
    Purple: #b10dc9
    Black: #111111
    Gray: #aaaaaa
    Silver: #dddddd
*/


/*html, body {
    background-color: #fff;
    color: #555;
}*/
html, body {
    background-color: #111;
    color: #ddd;
}

/*.site_content {
    background-color: #fff;
    color: #222;
}*/
.site_content {
    background-color: #111;
    color: #ddd;
}

/*footer {
    background-color: #f1f1f1;
    color: #717171;
}*/
footer {
    background-color: #111;
    color: #555;
}
footer a.footer-link {
    color: #999;
}

/* The font color of the navigation menu */
/******************************/
.navbar-custom {
    background-color: #111;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
    color: #ddd;
}
/* change the link color */
/*.navbar-custom .navbar-nav .nav-link {
    color: #ddd;
}*/
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #59bccc;  /* Teal */
}
/******************************/

#page-title {
    color: #ddd;
}

/*#social_profiles a:link, #social_profiles a:visited {
    color: #555;
}*/
/*#social_profiles a:hover {
    color: #888;
}*/
#social_profiles a {
    color: #555;
}
#linkedin-icon:hover {
    color: #0976b4;
}
#github-icon:hover {
    color: #eee;
}
#researchgate-icon:hover {
    color: #00d09d;
}
#stackoverflow-icon:hover {
    color: #fe7a15;
}
#kaggle-icon:hover {
    color: #20beff;
}
#hackerrank-icon:hover {
    color: #2ec866;
}
#orcid-icon:hover {
    color: #a5cd36;
}
#googlescholar-icon:hover {
    color: #4788ee;
}
#lattes-icon:hover {
    color: #353767;
}

pre {
    border: 1px solid lighten(#1e1e1e, 90);
    background-color: #efefef;
}

/*a:hover {color: #a2222c;}*/
a:hover {color: #79bccc;}  /* Teal */
/*a:link {color: #a2222c;}*/
a:link {color: #79bccc;}  /* Teal */
a:visited {color: #506f8f;}  /* Navy */

/*.single-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom,
                                 color-stop(0.05, #ededed),
                                 color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
                                                       endColorstr='#dfdfdf');
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    color: #777777;
    text-shadow: 1px 1px 0px #ffffff;
}*/
.single-button {
    background-color: #222;
    border: 1px solid #fff;
    color: #fff;
}
a.single-button {
    color: #fff;
}
/*.single-button:hover {
    background: -webkit-gradient(linear, left top, left bottom,
                                 color-stop(0.05, #dfdfdf),
                                 color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
                                                       endColorstr='#ededed');
    background-color: #dfdfdf;
}*/
.single-button:hover {
    background-color: #fff;
    color: #333;
}
/* This button was generated using CSSButtonGenerator.com */
