<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!-- load bootstrap css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Mukta:400,700|Source+Code+Pro:300,400,700&display=swap" rel="stylesheet">
        <!-- A opção usando a tag <link> não funciona por alguma razão -->
<!--         <style>
            @import url('https://fonts.googleapis.com/css?family=Mukta:400,700|Source+Code+Pro:300,400,700&display=swap');
        </style> -->

        <title>
            {{ if .IsHome }}
                {{ .Site.Params.author_abbrv }}
            {{ else }}
                {{ .Site.Params.author_abbrv }} | {{ .Title }}
            {{ end }}
        </title>
        <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/colors.css" />
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/elements.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/sizes.css"> -->
        <link rel="stylesheet" href='{{ "css/colors.css" | relURL }}'>
        <link rel="stylesheet" href='{{ "css/elements.css" | relURL }}'>
        <link rel="stylesheet" href='{{ "css/fonts.css" | relURL }}'>
        <link rel="stylesheet" href='{{ "css/sizes.css" | relURL }}'>

        <!-- load mathjax JS -->
        {{ partial "mathjax_support.html" . }}

        <!-- To use special icons for my profiles in several networks -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    </head>

    <body>
        <div class="container-fluid">
            {{ if (eq .URL "/about/") }}
                <div class="container-header-bg-about">
            {{ else if (eq .URL "/portfolio/") }}
                <div class="container-header-bg-portfolio">
            {{ else if (eq .URL "/publications/") }}
                <div class="container-header-bg-publications">
            {{ else if (eq .URL "/resume/") }}
                <div class="container-header-bg-resume">
            {{ else if (eq .URL "/blog/") }}
                <div class="container-header-bg-blog">
            {{ else }}  <!-- For the home page -->
                <div class="container-header-bg">
            {{ end }}
                <div class="container-header">
                    <nav class="navbar fixed-top navbar-expand-sm navbar-custom py-0">
                        <a href="/" class="navbar-brand">
                            {{ upper .Site.Params.author_abbrv }}
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse justify-content-stretch" id="navbar1">
                            <ul class="navbar-nav ml-auto">
                                {{ if (eq .URL "/about/") }}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/about">ABOUT ME <span class="sr-only">HOME</span></a>
                                    </li>
                                {{ else }}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">ABOUT ME <span class="sr-only">HOME</span></a>
                                    </li>
                                {{ end }}
                                <li class="nav-item">
                                    <div class="vertical-line-menu">&nbsp;</div>
                                </li>
                                <!-- {{ if (eq .URL "/portfolio/") }}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/portfolio/">PORTFOLIO/</a>
                                    </li>
                                {{ else }}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/portfolio/">PORTFOLIO/</a>
                                    </li>
                                {{ end }} -->
<!--                                 <li class="nav-item">
                                    <div class="vertical-line-menu">&nbsp;</div>
                                </li> -->
                                {{ if (eq .URL "/publications/") }}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/publications">PUBLICATIONS/</a>
                                    </li>
                                {{ else }}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/publications">PUBLICATIONS/</a>
                                    </li>
                                {{ end }}
                                <li class="nav-item">
                                    <div class="vertical-line-menu">&nbsp;</div>
                                </li>
                                {{ if (eq .URL "/resume/") }}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/resume">RESUME</a>
                                    </li>
                                {{ else }}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/resume">RESUME</a>
                                    </li>
                                {{ end }}
<!--                                 <li class="nav-item">
                                    <div class="vertical-line-menu">&nbsp;</div>
                                </li> -->
                                <!-- {{ if (eq .URL "/blog/") }}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/blog/">BLOG/</a>
                                    </li>
                                {{ else }}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/blog/">BLOG/</a>
                                    </li>
                                {{ end }} -->
                            </ul>
                        </div>
                    </nav>

                    <section id="page-title">
                        {{ if .IsHome }}
                            <h1>{{ upper .Site.Params.author }}</h1>
                        {{ else }}
                            <h1>{{ upper .Title }}</h1>
                        {{ end }}
                    </section>
                </div>
            </div>
